<h2 class="text-center my-5 font-weight-bold">{{ 'gallery.title' | translate }}</h2>
<ng-template #content let-modal class="container-fluid">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img [src]="currentImage" width="100%" alt="" />
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<hr>
<div class="slick-slider">
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let photo of photos" class="slide mx-3" (click)="openVerticallyCentered(content, photo)">
      <img src="{{ photo }}" alt="" height="500px"/>
    </div>
  </ngx-slick-carousel>
  <button class="btn-slide-next" (click)="slickModal.slickNext()"></button>
  <button class="btn-slide-prev" (click)="slickModal.slickPrev()"></button>
</div>
<hr>
