.img-holder {
  height: 300px;
  cursor: pointer;

  @media only screen and (max-width: 850px) {
    height: 250px;
  }

  @media only screen and (max-width: 690px) {
    height: 210px;
  }

  @media only screen and (max-width: 580px) {
    height: 250px;
  }

  img {
    height: 100%;
  }
}

.gallery {
  @media only screen and (max-width: 580px) {
    flex-direction: column !important;
    align-items: center;
  }
}
