.detailed-information {
  max-width: 1440px;
  font-family: 'Raleway', sans-serif;
}

.director {
  max-width: 400px;
  padding: 70px;
  margin: 0 auto;
  -webkit-border-image: url("../../../../assets/images/border-author-of-the-day.png") 0 round;
}

img {
  max-height: 400px;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }
}
