<div class="container-fluid justify-content-center mt-5 mb-5">
  <div class="author row align-items-top justify-content-center no-gutters">
      <div class="image col">
        <img class="img-fluid" src=" {{ director.photos[0] }}"
        width="300px" alt="{{ ('authorOfDay.name.' + director.name) | translate }} {{ ('authorOfDay.surname.' + director.name) | translate }}">
      </div>
      <div class="info col-6 px-5 bg-light d-flex flex-column align-items-center justify-content-around">
        <h1>{{ ("authorOfDay.name." + director.name) | translate }} {{ ("authorOfDay.surname." + director.name) | translate }}</h1>
        <h3>{{ ("authorOfDay.yearsOfLife." + director.name ) | translate }}</h3>
        <p class="generalInfo">{{ ("authorOfDay.generalInfo." + director.name) | translate}}</p>
        <button (click)="goToDetails()" type="button" class="btn btn-outline-primary more">{{ "authorOfDay.button" | translate }}</button>
      </div>
  </div>
</div>
