.header,
.choice-language-btn,
.options button {
  font-family: Raleway, sans-serif;
  font-size: 2rem;
}

.header {
  max-width: 1440px;
}

.logo {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.btn-outline-secondary,
.toggler {
  outline: 0;
}

.toggler {
  width: 50px;
  height: 33px;
  border-radius: .3rem;
  border-color: #6c757d;
  color: #6c757d;

  &:hover {
    color: #ffffff;
  }
}

.navigation {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.link {
  display: block;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #a2c872;
    transition: all 0.15s ease-in-out;
  }

  &:hover::after {
    margin-top: -4px;
  }
}

.active a {
  color: #a2c872;
}

@media screen and (max-width: 970px) {
  .header,
  .choice-language-btn,
  .options button {
    font-size: 1.4rem;
  }

  .logo {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}

@media screen and (max-width: 575px) {
  .navigation {
    border-bottom: 0;
  }

  .link::after {
    height: 0;
  }
}
