$green: #a2c872;


:host{
  margin:20px auto 0;
  width: 300px;
}

$card-height: 100%;
$card-width: 100%;

@media screen and (max-width: 575px) {
  .card-size{
    width: 300px;
  }
}

.shading {
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: 1s ease ;
  opacity: 0;
  &:hover{
    opacity: 0.3;
  }
}

