<div class="card text-center view overlay zoom">
  <img src="../../../../assets/images/aleksandrovskaya1.jpg" width="300" height="400" class="img-fluid"
    alt="{{director.surname +' '+ director.name}}">
  <div class="card-body">
    <h3 class="card-title">{{director.surname +' '+ director.name}}</h3>
    <h5 class="card-title">{{director.yearsOfLife}}</h5>

    <!-- <p class="card-text">{{}}</p> -->
  </div>
  <div class="shading"></div>
</div>


<!--
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card card-hover h-100">
        <div class="card-body">
          <i class="fa fa-search fa-5x float-right"></i>
          <h3 class="card-title">Front</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <div class="reveal bg-warning p-2">
            This is hidden until card in hovered!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
