$green: #a2c872;


:host{
  margin:20px auto 0;
  width: 300px;
  cursor: pointer;
}

$card-height: 100%;
$card-width: 100%;

@media screen and (max-width: 575px) {
  .card-size{
    width: 300px;
  }
}

.card {
  transition: 0.3s;

  &:hover{
    box-shadow: -3px 3px 16px 1px #828589;
    transform: scale(1.01);
  }
}

