<div class="container-fluid justify-content-center wrapper content-wrapper pb-5">
  <app-search (searchValue)="searchValue = $event" (searchParam)="searchParam = $event"></app-search>
  <div class="card-wrapper d-flex align-items-stretch flex-wrap">
    <app-director-card
      *ngFor="let director of allDirectors | searchByParam: searchValue:searchParam"
      [director]="director"
    ></app-director-card>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,1)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  class="preloader"
>
  <p>Loading...</p>
</ngx-spinner>
