.content-wrapper {
  max-width: 1440px;
  font-family: Raleway, sans-serif;
  font-size: 2rem;
}

.search-input{
  margin:5px auto 20px;
  max-width: 500px;
}

.card-wrapper{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
