<div class="d-flex justify-content-center p-0 wrapper" (click)="this.worklogService.getCurrentMember($event)">
  <ngb-carousel class="d-flex align-items-center" *ngIf="membersTitle" interval="0">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper m-0">
        <p class="d-flex m-0" [innerHtml]="generalTitle | uppercase"></p>
      </div>
    </ng-template>
    <ng-template ngbSlide *ngFor="let member of membersTitle; let i = index">
      <div class="picsum-img-wrapper m-0">
        <p class="d-flex m-0">{{member | uppercase}}</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
