<div class="container">
  <div class="title">
    <h1>{{ 'descrPortal.name' | translate}}</h1>
  </div>
  <div class="column">
    <app-style-guide
      *ngFor="let item of styleItems"
      [item]='item'
    ></app-style-guide>
  </div>

  <div class="flex">
    <input class="flex-item" type="text" placeholder="input example" #searchQuery>
    <a class="flex-item" href="#">Link example</a>
    <button class="flex-item">Button example</button>
  </div>

  <div class="table">
    <table>
      <tr>
        <td>1900</td>
        <td>Data</td>
      </tr>
      <tr>
        <td>1901</td>
        <td>Data</td>
      </tr>
      <tr>
        <td>1902</td>
        <td>Data</td>
      </tr>

      <tr>
        <td>1903</td>
        <td>Data</td>
      </tr>

    </table>
  </div>
</div>
