<div class="container p-0">
  <ul class="mt-5 p-0" *ngIf="true">
    <span class="d-flex justify-content-center"><strong [innerHtml]="calculateTotal()"></strong></span>
    <li class="m-3 button" *ngFor="let log of logs[this.worklogService.counter].item; let i = index"
      (click)="findItem(log.id)">
      <span class="d-flex align-items-center p-2">
        <input class="ml-3" id="{{log.id}}" type="checkbox" [checked]="log.completed" (change)="findItem(log.id)">
        <label class="checkmark ml-3" for="{{log.id}}"></label>
        <strong class="pl-4 mr-3 text-nowrap">{{log.points}}</strong>
        {{log.title | uppercase}}
      </span>
    </li>
  </ul>
</div>
