    <div>
      <img src="{{developer.photo}}" alt="{{developer.surname}} photo" class="bd-placeholder-img rounded-circle" width="200" height="200">

      <div class="developer"><a class="text-center" href="{{developer.telegram}}" role="button"><h4> {{ developer.name }} {{ developer.surname }}</h4></a></div>
     
      <button class="btn btn-outline-secondary" href="{{developer.github}}" role="button">Github »</button>
      <button class="btn btn-outline-secondary" href="{{developer.github}}" role="button">LinkedIn »</button>
    </div>

