:host {
  text-align: center;
  margin: 0 auto;
}

a {
  text-decoration: none;
  text-align: center;
  color: #6c757d;

  &:hover {
    color:#a2c872;
  }
}

img {
  margin-bottom: 10px;
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
}

img:hover {
  transition: filter .7s ease-in-out;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
