:host {
  text-align: center;
  margin: 0 auto;
}

a {
  text-decoration: none;
  text-align: center;
  color: #6c757d;

  &:hover {
    color:#a2c872;
  }
}

img {
  -webkit-filter: grayscale(99%);
  filter: grayscale(99%);

}

img:hover {
  transition: filter .7s ease-in-out;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
