<h2 class="text-center mb-5">Работы</h2>
<ul class="d-flex flex-column align-items-center justify-content-center mb-5">
  <li *ngFor="let work of listOfWorks">
    <p>{{ work.date }} - {{ work.work }}</p>
  </li>
</ul>

<table class="table container-fluid text-center pl-5">
  <thead>
    <tr>
      <th scope="col">Даты</th>
      <th scope="col w-75">Работа</th>
    </tr>
  </thead>
  <tbody>
    <tr scope="row" *ngFor="let work of listOfWorks">
      <td>{{ work.date }}</td>
      <td>{{ work.work }}</td>
    </tr>
  </tbody>
</table>
