<h2 class="text-center mb-5 font-weight-bold">{{ 'listOfWorks.title' | translate }}</h2>

<table class="table container-fluid text-center pl-5 table-bordered">
  <thead class="table-head">
    <tr>
      <th scope="col">{{ 'listOfWorks.date' | translate }}</th>
      <th scope="col w-75">{{ 'listOfWorks.work' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr scope="row" *ngFor="let work of listOfWorks">
      <td>{{ work.date }}</td>
      <td>{{ work.work }}</td>
    </tr>
  </tbody>
</table>
